global
    log /dev/log	local0
    log /dev/log	local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon
    pidfile /var/run/haproxy.pid
    # echo "help" | sudo socat stdio /var/lib/haproxy/stats
    stats socket /var/lib/haproxy/stats
    maxconn 4096

defaults
    log  global
    maxconn  4000
    option  redispatch
    retries  3
    timeout  http-request 10s
    timeout  queue 1m
    timeout  connect 10s
    timeout  client 1m
    timeout  server 1m
    timeout  check 10s

listen hastats
    bind 0.0.0.0:{{ haproxy_stats_port }}
    mode http
    maxconn 64
    timeout connect 5000
    timeout client 10000
    timeout server 10000
    stats enable
    stats show-legends
    stats uri /haproxy?hastats
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_pass }}

listen mysql
    bind {{ cluster_virtual_ip }}:3306
    mode tcp
    option mysql-check user haproxy
    balance source
    # mysql -h {{ cluster_virtual_ip }} -uroot -p<pass> -e "show variables like 'hostname'"
    server sv2 {{cluster_server_ips[1]}}:{{ mysql_port }} check port {{ mysql_port }} inter 5000 fall 2
    server sv3 {{cluster_server_ips[2]}}:{{ mysql_port }} check port {{ mysql_port }} inter 5000 fall 2 backup
    server sv1 {{cluster_server_ips[0]}}:{{ mysql_port }} check port {{ mysql_port }} inter 5000 fall 2 backup

listen rabbitmq
    bind {{ cluster_virtual_ip }}:5672
    mode tcp
    balance source
    timeout client 3h
    timeout server 3h
    option clitcpka
    server sv3 {{cluster_server_ips[2]}}:{{ rabbitmq_port }} check inter 5000 rise 2 fall 3
    server sv1 {{cluster_server_ips[0]}}:{{ rabbitmq_port }} check inter 5000 rise 2 fall 3 backup
    server sv2 {{cluster_server_ips[1]}}:{{ rabbitmq_port }} check inter 5000 rise 2 fall 3 backup

listen keystone_admin_cluster
    bind {{ cluster_virtual_ip }}:35357
    balance source
    option tcpka
    option httpchk
    option tcplog
    server sv1 {{cluster_server_ips[0]}}:{{ keystone_admin_port }} check inter 2000 rise 2 fall 5
    server sv2 {{cluster_server_ips[1]}}:{{ keystone_admin_port }} check inter 2000 rise 2 fall 5 backup
    server sv3 {{cluster_server_ips[2]}}:{{ keystone_admin_port }} check inter 2000 rise 2 fall 5 backup

listen keystone_public_internal_cluster
    bind {{ cluster_virtual_ip }}:5000
    balance source
    option tcpka
    option httpchk
    option tcplog
    server sv1 {{cluster_server_ips[0]}}:{{ keystone_public_port }} check inter 2000 rise 2 fall 5
    server sv2 {{cluster_server_ips[1]}}:{{ keystone_public_port }} check inter 2000 rise 2 fall 5 backup
    server sv3 {{cluster_server_ips[2]}}:{{ keystone_public_port }} check inter 2000 rise 2 fall 5 backup

listen glance_api_cluster
    bind {{ cluster_virtual_ip }}:9292
    balance source
    option tcpka
    option httpchk
    option tcplog
    server sv1 {{cluster_server_ips[0]}}:{{ glance_api_port }} check inter 2000 rise 2 fall 5
    server sv2 {{cluster_server_ips[1]}}:{{ glance_api_port }} check inter 2000 rise 2 fall 5 backup
    server sv3 {{cluster_server_ips[2]}}:{{ glance_api_port }} check inter 2000 rise 2 fall 5 backup

listen glance_registry_cluster
    bind {{ cluster_virtual_ip }}:9191
    balance source
    option tcpka
    option tcplog
    server sv1 {{cluster_server_ips[0]}}:{{ glance_registry_port }} check inter 2000 rise 2 fall 5
    server sv2 {{cluster_server_ips[1]}}:{{ glance_registry_port }} check inter 2000 rise 2 fall 5 backup
    server sv3 {{cluster_server_ips[2]}}:{{ glance_registry_port }} check inter 2000 rise 2 fall 5 backup

listen nova_ec2_api_cluster
    bind {{ cluster_virtual_ip }}:8773
    balance source
    option tcpka
    option tcplog
    server sv1 {{cluster_server_ips[0]}}:{{ nova_ec2_port }} check inter 2000 rise 2 fall 5
    server sv2 {{cluster_server_ips[1]}}:{{ nova_ec2_port }} check inter 2000 rise 2 fall 5 backup
    server sv3 {{cluster_server_ips[2]}}:{{ nova_ec2_port }} check inter 2000 rise 2 fall 5 backup

listen nova_compute_api_cluster
    bind {{ cluster_virtual_ip }}:8774
    balance source
    option tcpka
    option httpchk
    option tcplog
    server sv1 {{cluster_server_ips[0]}}:{{ nova_compute_port }} check inter 2000 rise 2 fall 5
    server sv2 {{cluster_server_ips[1]}}:{{ nova_compute_port }} check inter 2000 rise 2 fall 5 backup
    server sv3 {{cluster_server_ips[2]}}:{{ nova_compute_port }} check inter 2000 rise 2 fall 5 backup

listen nova_metadata_api_cluster
    bind {{ cluster_virtual_ip }}:8775
    balance source
    option tcpka
    option tcplog
    server sv1 {{cluster_server_ips[0]}}:{{ nova_metadata_port }} check inter 2000 rise 2 fall 5
    server sv2 {{cluster_server_ips[1]}}:{{ nova_metadata_port }} check inter 2000 rise 2 fall 5 backup
    server sv3 {{cluster_server_ips[2]}}:{{ nova_metadata_port }} check inter 2000 rise 2 fall 5 backup

listen novncproxy_cluster
    bind {{ cluster_virtual_ip }}:6080
    balance source
    option tcpka
    option tcplog
    server sv1 {{cluster_server_ips[0]}}:{{ nova_novncproxy_port }} check inter 2000 rise 2 fall 5
    server sv2 {{cluster_server_ips[1]}}:{{ nova_novncproxy_port }} check inter 2000 rise 2 fall 5 backup
    server sv3 {{cluster_server_ips[2]}}:{{ nova_novncproxy_port }} check inter 2000 rise 2 fall 5 backup
