#!/bin/bash
set -eux
export OS_PROJECT_DOMAIN_ID=default
export OS_USER_DOMAIN_ID=default
export OS_PROJECT_NAME=admin
export OS_TENANT_NAME=admin
export OS_USERNAME=admin
export OS_PASSWORD={{ openstack_admin_password }}
export OS_AUTH_URL=http://{{ keystone_ip }}:35357/v3
export LC_ALL=C
export OS_IMAGE_API_VERSION=2
export OS_VOLUME_API_VERSION=2

target_ver=0.3.4
target=cirros-${target_ver}-x86_64

[[ -f ./${target}-disk.img ]] || wget http://download.cirros-cloud.net/${target_ver}/${target}-disk.img
if ! (glance image-list | fgrep -q "${target}"); then
  glance image-create --name "${target}" --file ./cirros-0.3.4-x86_64-disk.img --disk-format qcow2 --container-format bare --visibility public --progress
fi
id=$(glance image-list | awk '/ '${target}' /{print $2}')
#glance image-update ${id} --property hw_scsi_model=virtio-scsi
#glance image-update ${id} --property hw_disk_bus=scsi
glance image-update ${id} --property hw_qemu_guest_agent=yes
glance image-update ${id} --property os_require_quiesce=yes
