#!/bin/bash
set -eux

ceph osd pool create volumes 32
ceph osd pool create images 32
ceph osd pool create backups 32
ceph osd pool create vms 32

ceph auth get-or-create client.glance mon 'allow r' osd 'allow class-read object_prefix rbd_children, allow rwx pool=images'
ceph auth get-or-create client.cinder mon 'allow r' osd 'allow class-read object_prefix rbd_children, allow rwx pool=volumes, allow rwx pool=vms, allow rx pool=images'
ceph auth get-or-create client.cinder-backup mon 'allow r' osd 'allow class-read object_prefix rbd_children, allow rwx pool=backups'

glance_authfile=.client.glance
cinder_authfile=.client.cinder
cinder_backup_authfile=.client.cinder-backup
cinder_getkey=.client.cinder.getkey
secret_xml=.secret.xml

glance_keyring=/etc/ceph/ceph.client.glance.keyring
cinder_keyring=/etc/ceph/ceph.client.cinder.keyring
cinder_backup_keyring=/etc/ceph/ceph.client.cinder-backup.keyring

ceph auth get-or-create client.glance > ${glance_authfile}
ceph auth get-or-create client.cinder > ${cinder_authfile}
ceph auth get-or-create client.cinder-backup > ${cinder_backup_authfile}
ceph auth get-key client.cinder > ${cinder_getkey}

cat ${glance_authfile} | ssh sv1 sudo tee ${glance_keyring}
cat ${glance_authfile} | ssh sv2 sudo tee ${glance_keyring}
cat ${glance_authfile} | ssh sv3 sudo tee ${glance_keyring}

cat ${cinder_authfile} | ssh sv1 sudo tee ${cinder_keyring}
cat ${cinder_authfile} | ssh sv2 sudo tee ${cinder_keyring}
cat ${cinder_authfile} | ssh sv3 sudo tee ${cinder_keyring}

cat ${cinder_backup_authfile} | ssh sv1 sudo tee ${cinder_backup_keyring}
cat ${cinder_backup_authfile} | ssh sv2 sudo tee ${cinder_backup_keyring}
cat ${cinder_backup_authfile} | ssh sv3 sudo tee ${cinder_backup_keyring}

# uuidgen
# 57090ca8-c135-4349-b3d1-10d12467e081
cat > ${secret_xml} <<EOF
<secret ephemeral='no' private='no'>
  <uuid>57090ca8-c135-4349-b3d1-10d12467e081</uuid>
  <usage type='ceph'>
    <name>client.cinder secret</name>
  </usage>
</secret>
EOF

scp ${secret_xml} sv1:/tmp
scp ${secret_xml} sv2:/tmp
scp ${secret_xml} sv3:/tmp

ssh sv2 sudo virsh secret-define --file /tmp/${secret_xml}
ssh sv3 sudo virsh secret-define --file /tmp/${secret_xml}

ssh sv2 sudo virsh secret-set-value --secret 57090ca8-c135-4349-b3d1-10d12467e081 --base64 $(cat ${cinder_getkey})
ssh sv3 sudo virsh secret-set-value --secret 57090ca8-c135-4349-b3d1-10d12467e081 --base64 $(cat ${cinder_getkey})

ssh sv1 sudo rm /tmp/${secret_xml}
ssh sv2 sudo rm /tmp/${secret_xml}
ssh sv3 sudo rm /tmp/${secret_xml}

ssh sv1 sudo chown glance:glance ${glance_keyring}
ssh sv2 sudo chown glance:glance ${glance_keyring}
ssh sv3 sudo chown glance:glance ${glance_keyring}

ssh sv1 sudo chown cinder:cinder ${cinder_keyring} ${cinder_backup_keyring}
ssh sv2 sudo chown cinder:cinder ${cinder_keyring} ${cinder_backup_keyring}
ssh sv3 sudo chown cinder:cinder ${cinder_keyring} ${cinder_backup_keyring}

rm ${secret_xml}
rm ${cinder_getkey}
rm ${cinder_backup_authfile}
rm ${cinder_authfile}
rm ${glance_authfile}

touch prepare-ceph.done
